:root{
    --orange-color: #EE8F39;
    --Brand-color: #44D5CD;

}
*,
*::after,
*::before{
    box-sizing: border-box;
    
    }

    body{
        margin: 0;
        font-family: Gilda Display;
        font-family: Urbanist; 
    }


    
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 375;
    height: 60px;
}

.nav{
    padding-top: 16x;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
}


.logo{
    font-family: "Gilda Display";
    font-weight: 400;
    size: 16px;
    line-height: 18.83px;
    color: #25A59E;
}

.frame{
    width: 24px;
    height: 24px;
    rotate: -0;

}
.travel-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.layout{
    position: relative;
    width: 100%;
    height: auto;
}
    h1{
    
    font-family: "Gilda Display";
    font-size: 52px;
    margin-top: 40px;
    font-weight: 400;
    text-align: center;
    padding-left: 50 ;

}
span {
    color: #25A59E;
}
.blur-svg{
position: absolute;
width: 400px;
top: 0;
left: 0;
transform: translateY(25%);
margin-left: 70px;
}

.ellipse{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 240px;
    transform: translateX(13%);
    
}


.find{
    width: 432.6px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 208px;
    height: 230px;
    margin-left: 40px;

}



    .btn.blue{
        padding-top: 16px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        gap: 10px;
        color: #25A59E;
        display: inline-block;
        font-size: 18px;
        font: Urbanist;
        text-align: right;
        color: #ffff;
        background: var(--Brand-color);
        text-decoration: none;
    }

    .btn.light{
        font-family: Gilda Display;
        font-size: 15px;
        line-height: 23px;
        color: #ffff;
        border: 0.2px;
        background-color: #25A59E;
        text-decoration: none;
        position: relative;
        transform: translateY(-50%);

    }
.arrow-right::after{
    content: url(image/arrow-right.png);
    width: 16;
    height: 16px;
    position: absolute

}
.btn.light{
    padding-left: 0%
    padding-right: 60%;
}



.Travel{
    width: 335px;
    margin-top: 250px;
    
}

.Travel h2{
    margin-left: 35px;
    font-family: "Gilda Display";
    font-size: 40px;
    line-height: 52px;
    color: #262626;
}

.Travel p{
    font-family: "Urbanist";
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    transform: translateX(13%);
}
    

.Mirror{
    width: fill(335px);
    height: fixed(378px);
    border: 1px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 70px;
    gap: 20px;
    
}

.Mirror h2{
    font-family: "Urbanist";
    font-size: 20px;
    line-height: 28px;
    color: #262626;
}

.Hot{
    width: fixed(370.67px);
    height: fixed(404px);
    top: 1136px;
    border: 1px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left:40px ;
    gap: 20px;


}
.Lake{
    width: fixed(370.67px);
    height: fixed(404px);
    top: 1136px;
    border: 1px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left:60px ;
    gap: 20px;
}

.Falls{
    width: fixed(370.67px);
    height: fixed(404px);
    top: 1136px;
    border: 1px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left:50px ;
    gap: 20px;
}

.Sunter{
    width: fixed(370.67px);
    height: fixed(404px);
    top: 1136px;
    border: 1px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left:50px ;
    gap: 20px;
}

.Negeri{
    width: fixed(370.67px);
    height: fixed(404px);
    top: 1136px;
    border: 1px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left:50px ;
    gap: 20px;
}

